@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-color: aliceblue;
        background-image: url("Images/five.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: sans-serif;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome To Flight Booking Reservation</h1>
    
</div>
