
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flight Ticket Reservation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .adhead{
            background-color: aliceblue;
        }
    </style>
</head>
<body>
    <header class="adhead">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <div>
                    <img src="~/Images/one.png" style="border-radius: 50%;" height="50" width="50" alt="">
                </div>
                &nbsp;
                <a class="navbar-brand" asp-area="" asp-controller="admin" asp-action="home" style="text-decoration: solid;">FlightTicketBooking</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <form asp-action="home">
                               <input type="submit" value="Home" class="btn btn-warning" />
                           </form>
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <form asp-action="GetAllFlights">
                                <input type="submit" value="All Flights" class="btn btn-success" />
                            </form>
                            
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <form asp-action="GetAllCustomers">
                                <input type="submit" value="All Customers" class="btn btn-success" />
                            </form>
                            
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-primary" asp-area="" asp-controller="Admin" asp-action="Create">Add Flight</a>
                            
                        </li>
                    </ul>
                </div>
                <div style="text-align: right;">
                    @* <a asp-action="Logout" style="background-color: red; length=100%">Logout</a>  *@
                    <form asp-action="Logout">
                    <input type="submit" value="logout" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FlightTicketBooking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>